/* ----- needs work ------ */
/* nav bar */
/* work section */
/* contact bar */
/* push conent over banner, banner opacity/ gradient */
/* integrate @media responsive elements */

/* variables and universal */
:root {
    --color-background: #f1dede;
    --color-primary: #909580;
    --color-secondary: #80727b;
    --color-tertiary: #bbacc1;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header and nav */
header {
    display: flex;
    position: sticky;
    background-color: var(--color-primary);
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;
    border-bottom: solid var(--color-tertiary) 10px;
    opacity: 0.8;
}

.name-bar {
    font-size: 60px;
    font-weight: bolder;
    flex: 0 1 auto;
}

h1 {
    opacity: 1;
}

.nav-bar {
    list-style: none;
}

/* link appearance */
a:link {
    text-decoration: none;
    color: var(--color-secondary);
}

a:visited {
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover {
    text-decoration: none;
    color: var(--color-tertiary);
}

a:active {
    text-decoration: none;
}

/* hero image */
.hero-img {
    margin-top: -400px;
    width: 100%;
    z-index: -1;
}

/* main */
main {
    margin-top: -100px;
}

/* section headers */
h2 {
    font-size: 40px;
    font-weight: bolder;
    border-right: solid black;
}

.label-box {
    width: 40%;
    justify-items: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

/* bio box */
.bio {
    display: flex;
}

.bio-box {
    width: 60%;
    background-color: var(--color-background);
    line-height: 1.5;
}

/* work cards */
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.top-card {
    width: 60%;
}

.top-img {
    flex: 1 0 auto;
    margin: 50px;
    width: 80%;
}

.bottom-card {
    width: 60%;
}

.bottom-img {
    flex: 1 0 auto;
    width: 40%;
}
/* contact me */
.contact-me {
    display: flex;
}

.contact-box {
    width: 60%;
}

.contact-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: var(--color-primary);
}

.sig-box {
    margin: auto;
}