/* variables and universal */
:root {
    --color-background: #f1dede;
    --color-primary: #909580;
    --color-secondary: #80727b;
    --color-tertiary: #bbacc1;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header and nav */
header {
    display: flex;
    position: sticky;
    background-color: var(--color-primary);
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;
    border-bottom: solid var(--color-tertiary) 10px;
}

.name-bar {
    background-color: var(--color-secondary);
    font-size: 60px;
    font-weight: bolder;
}

.nav-bar {
    justify-items: center;
    align-content: space-between;
}

/* link appearance */
a:link {
    text-decoration: none;
    color: var(--color-secondary);
}

a:visited {
    text-decoration: none;
    color: var(--color-secondary);
}

a:hover {
    text-decoration: none;
    color: var(--color-tertiary);
}

a:active {
    text-decoration: none;
}

/* hero image */
.hero-img {
    margin-top: -170px;
    width: 100%;
}

/* section headers */
h2 {
    font-size: 40px;
    font-weight: bolder;
    border-right: solid black;
}

.label-box {
    width: 40%;
    justify-items: flex-start;
}

/* bio box */
.bio {
    display: flex;
}

.bio-box {
    width: 60%;
}

/* work cards */
.work {
    display: flex;
    flex-wrap: wrap;
}

.work-box {
    width: 60%;
}
.top-card {

}

.bottom-card {

}

/* contact me */
.contact-me {
    display: flex;
}

.contact-box {
    width: 60%;
}

/* footer */
.footer-bar {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: var(--color-primary);
}

.sig-box {
    margin: auto;
}